<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>List of time records</title>
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="build/app.css">
    <script type="text/javascript" src="render.js"></script>
</head>
<body class="window white">

<div id="app">
    <div ref="log"></div>

    <div class="container" v-if="!loadingLog && log" v-cloak>
        <div class="log">
            <div class="day" v-for="day in days">
                <div class="headline header">
                    {{ moment(day).format('MMMM Do YYYY') }}
                    <small>{{ human(log.times[day]) }}</small>
                </div>
                <div class="list">
                    <div class="entry" v-for="frame in frames[day]">
                        <div class="cell timeframe">
                            {{ moment(frame.start).format('HH:mm') }} &nbsp; - &nbsp; {{ moment(frame.stop).format('HH:mm') }}
                        </div>
                        <div class="cell">
                            ( {{ human(parseInt(moment(frame.stop).diff(frame.start) / 1000)) }} )
                        </div>
                        <div class="cell">
                            {{ frame.project }}
                        </div>
                        <div class="cell">
                            {{ frame.resource.type }} #{{ frame.resource.id }}
                        </div>
                        <div class="cell">
                            <span class="sync" v-if="frame.modified">
                                <i title="Record is in sync with GitLab" class="fa fa-check-circle green" v-if="synced(frame.modified)"></i>
                                <i title="Record not synced with Gitlab" class="fa fa-times-circle red" v-if="!synced(frame.modified)"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="build/app.js"></script>
</body>